{% extends "stepupmountains/base_generic.html" %}
{% block title %}Step Up Mountains - Add object{% endblock %}
{% block content %}
    {% load staticfiles %}
    <script src="{% static 'stepupmountains/validateAddObjectForm.js' %}"></script> 
        {% if edit %}
        <h3>Edit Object</h3>
        {% else %}
        <h3>Add Object</h3>
        {% endif %}
        <form action="{% if edit %}{% url 'stepupmountains:manageobjects:edit'%}{% else %}{% url 'stepupmountains:manageobjects:add' %}{% endif %}" method="POST" name="add_object" onsubmit="return validateAddObjectForm()">
            {% csrf_token %}
            {% if edit %}
                {{ form.object_id }}
            {% endif %}
            <div class="col-md-4">
                <div class="form-group">
                    {{ form.name.label_tag }}
                    {{ form.name }}
                    {% if form.name.errors %}
                    <div class="alert alert-danger">
                    {{ form.name.errors }}
                    </div>
                    {% endif %}
                </div>
                <div class="form-group">
                    {{ form.height.label_tag }}
                    {{ form.height }}
                    {% if form.height.errors %}
                    <div class="alert alert-danger">
                    {{ form.height.errors }}
                    </div>
                    {% endif %}
                </div>
                <div class="form-group">
                    {{ form.stairs_no.label_tag }}
                    {{ form.stairs_no }}
                    {% if form.stairs_no.errors %}
                    <div class="alert alert-danger">
                    {{ form.stairs_no.errors }}
                    </div>
                    {% endif %}
                </div>
                <div class="row">
                    <div class="col-md-4">
                        <input type="submit" name="add" id="add" value="{% if edit %}Edit object{% else %}Add object{% endif %}" class="btn btn-primary" />
                    </div>
                </div>
            </div>
	</form>
{% endblock %}
