{% extends "stepupmountains/base_generic.html" %}
{% block title %}Step Up Mountains - Add object{% endblock %}
{% block content %}
    {% load staticfiles %}
    <script src="{% static 'stepupmountains/validateAddObjectForm.js' %}"></script> 
	<form action="{% url 'stepupmountains:manageobjects:action:add' %}" method="POST" name="add_object" onsubmit="return validateAddObjectForm()">
		{% csrf_token %}
		Object name: <input type="text" name="object_name" id="object_name" value="" /><br />
		Height: <input type="number" name="object_height" id="object_height" value="" step="any"/><br />
		<input type="submit" name="add" id="add" value="Add object" />
	</form>
{% endblock %}

