<!DOCTYPE html>
<html lang="en">
<head>
    {% load staticfiles %}
    <link rel="stylesheet" type="text/css" href="{% static 'stepupmountains/style.css' %}" />
    <title>{% block title %}My amazing site{% endblock %}</title>
</head>

<body>
<div id="side">
    <div id="account">
{% if user.is_authenticated %}
	<p>User: {{ user.get_username }}<br />
	<a href="{% url 'stepupmountains:accounts:change_password' %}">Change Password</a>/
    <a href="{% url 'stepupmountains:accounts:django.contrib.auth.views.logout' %}">Logout</a></p>
{% else %}
	<p><a href="{% url 'stepupmountains:accounts:login' %}">Login</a></p>
	<p><a href="{% url 'stepupmountains:accounts:register' %}">Register</a></p>
{% endif %}
    </div>
    <div id="sidebar">
        {% block sidebar %}
        <ul>
            <li><a href="/">Home</a></li>
{% if user.is_authenticated %}
            <li><a href="{% url 'stepupmountains:manageobjects:manageobjects' %}">Manage objects</a></li>
{% endif %}
        </ul>
        {% endblock %}
    </div>
</div>

    <div id="content">
        {% block content %}{% endblock %}
    </div>
</body>
</html>
