{% extends "stepupmountains/base_generic.html" %}
{% block title %}Step Up Mountains - Register{% endblock %}

{% block content %}

{% if form.errors %}
<p>{{ form.errors }}</p>
{% endif %}

<form method="post" action="{% url 'stepupmountains:accounts:change_password' %}">
{% csrf_token %}
<table>
<tr>
    <td>Old password:</td>
    <td>{{ form.old_password }}</td>
</tr>
<tr>
    <td>New password:</td>
    <td>{{ form.new_password1 }}</td>
</tr>
<tr>
    <td>New password again:</td>
    <td>{{ form.new_password2 }}</td>
</tr>

</table>

<input type="submit" value="Change password" />
<input type="hidden" name="next" value="{{ next }}" />
</form>

{% endblock %}
