{% extends "stepupmountains/base_generic.html" %}
{% block title %}Step Up Mountains - Mountain's list{% endblock %}
{% block content %}
<form action="{% url 'stepupmountains:accounts:auth_login' %}" method="POST">
	{% csrf_token %}
	<input type="hidden" name="next" value="{{ next }}" />
	Username: <input type="text" name="username" id="username" value="" /><br />
	Password: <input type="password" name="password" id="password" value="" /><br />
	<input type="submit" name="Login" id="login" value="Login" />
</form>


{% endblock %}
