{% extends "stepupmountains/base_generic.html" %}
{% block title %}Step Up Mountains - Mountain's list{% endblock %}
{% block content %}
    {% if climbed %}
    <div class="alert alert-success" role="alert" id="climbed-alert">
    You have climbed <strong>{{ climbed }}</strong>
    </div>
    <script>
    setTimeout(hide, 30000)
    function hide()
    {
        var stateObj = { };
        history.pushState(stateObj, "StepUpMountains - Mountain List", "/");
        bar = document.getElementById('climbed-alert')
        bar.style.display='none'
    }
    </script>
    {% endif %}
    <h3>Climb something</h3>
    {% if user.is_authenticated %}
        <div class="row button-bar">
        {% if object_list %}
            {% for object in object_list %}
                <div class="col-xs-6 col-sm-4 col-md-3 col-lg-2">
                    <form action="{% url 'stepupmountains:climb_object' %}" method="POST">
                    {% csrf_token %}
                    <input type="hidden" name="climbed_object" id="climbed_object" value="{{ object.id }}" />
                    <input type="submit" name="Climb" class="btn btn-lg btn-default" value="{{ object.name }}" />
                    </form>
                </div>
            {% endfor %}
        {% else %}
            <a href="{% url 'stepupmountains:manageobjects:add' %}"><button class="btn btn-primary">Add some object to climb first.</button></a>
        {% endif %}
        </div>

        <h3>Your progress</h3>

        <div class="row teaser">
            <div class="col-sm-4">
                <div class="highlight">
                    <div>
                        <strong>{{ total_climbed }}&nbsp;m</strong>
                    </div>
                </div>
                <h4>Total climbed</h4>
            </div>
            <div class="col-sm-4">
                <div class="highlight">
                    <div>
                        <strong>{{ reached_mountain.name }}</strong>
                        <small>{{ reached_mountain.elevation }}&nbsp;m</small>
                    </div>
                </div>
                <h4>Already reached</h4>
            </div>
            <div class="col-sm-4">
                <div class="highlight">
                    <div>
                        <strong>{{ next_mountain }}</strong>
                        <small>{{ remains_to_climb }}&nbsp;m</small>
                    </div>
                </div>
                <h4>Next target</h4>
            </div>
        </div>
    {% else %}
        <div class="col-sm-4 col-sm-push-8">
            <form method="post" action="{% url 'stepupmountains:accounts:login' %}">
            {% csrf_token %}
                <div class="form-group">
                    <label for="username">Username</label>
                    <input type="text" name="username" id="username" class="form-control">
                </div>
                <div class="form-group">
                    <label for="password">Password</label>
                    <input type="password" name="password" id="password" class="form-control">
                </div>
                <div class="row">
                    <div class="col-md-4">
                        <button type="submit" class="btn btn-primary">
                            Log in
                        </button>
                    </div>
                    <div class="col-md-8 text-right">
                        <a class="btn btn-link" href="{% url 'stepupmountains:accounts:register' %}">Register</a>
                    </div>
                </div>
            </form>
        </div>
    {% endif %}

    {% if mountain_list %}
        <table class="table table-striped">
            {% for mountain in mountain_list %}
                <tr class="{{ mountain.climbed }}">
                    <td>{{ mountain.name }}</td>
                    <td class="elevation">{{ mountain.elevation }}&nbsp;m</td>
                    <td class="comment">
                        <span class="hidden-xs">{{ mountain.comment }}</span>
                        <span class="glyphicon glyphicon-question-sign visible-xs-inline" title="{{ mountain.comment }}" data-toggle="tooltip" data-placement="left"></span>
                    </td>
                </tr>
            {% endfor %}
        </table>
    {% else %}
        <p>No mountains were found.<p>
    {% endif %}

{% if user.is_authenticated %}
    <script src="https://code.jquery.com/jquery-1.11.2.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/js/bootstrap.min.js"></script>
    <script type="text/javascript" charset="utf-8">
        $(document).ready(function () {
            var expander = $('<tr class="expander">' +
                               '<td colspan=3>' +
                                 '<button class="btn btn-small btn-link">' +
                                   '<span class="glyphicon glyphicon-option-horizontal"></span>' +
                                 '</button>' +
                               '</td>' +
                             '</tr>');
            $("tr:not(.climbed)").slice(0, -2).hide();
            $("table").prepend(expander);
            expander.click(function() {
                $(".expander").remove();
                $("tr").show();
            });
            $('[data-toggle="tooltip"]').tooltip();
        });
    </script>
{% endif %}

{% endblock %}
