<!DOCTYPE html>
<html>
<head>
{% load staticfiles %}
<link rel="stylesheet" type="text/css" href="{% static 'stepupmountains/style.css' %}" />
</head>
<body>
{% if object_list %}
	{% for object in object_list %}
		<form action="{% url 'stepupmountains:climb_object' %}" method="POST">
		{% csrf_token %}
		<input type="hidden" name="climbed_object" id="climbed_object" value="{{ object.id }}" />
		<input type="submit" name="Climb" id="climb_button" value="Climb {{ object.object_name }}" />
		</form>
	{% endfor %}
{% endif %}
{% if mountain_list %}
	<table>
		{% for mountain in mountain_list %}
			<tr><td>{{mountain.name}}</td><td>{{mountain.elevation}} m.n.m.</td><td>{{mountain.comment}}</td></tr>
		{% endfor %}
	</table>
{% else %}
	<p>No mountains were found.<p>
{% endif %}
</html>
