{% extends "stepupmountains/base_generic.html" %}
{% block title %}Mountain's list{% endblock %}
{% block content %}
{% if object_list %}
		{% for object in object_list %}
			<form action="{% url 'stepupmountains:climb_object' %}" method="POST">
			{% csrf_token %}
			<input type="hidden" name="climbed_object" id="climbed_object" value="{{ object.id }}" />
			<input type="submit" name="Climb" id="climb_button" value="Climb {{ object.name }}" />
			</form>
		{% endfor %}
	{% endif %}

{% if mountain_list %}
	<table>
		{% for mountain in mountain_list %}
			<tr><td>{{mountain.name}}</td><td>{{mountain.elevation}} m.n.m.</td><td>{{mountain.comment}}</td></tr>
		{% endfor %}
	</table>
{% else %}
	<p>No mountains were found.<p>
{% endif %}
{% endblock %}

