{% extends "stepupmountains/base_generic.html" %}
{% block title %}Step Up Mountains - Statistics{% endblock %}
{% block content %}
<h3>Climbing statistics</h3>    
<table class="table table-striped">
    <tr>
        <td>Total ascent</td>
        <td>{{ total_ascent }} m</td>
    </tr>
    <tr>
        <td>Total climbed stairs</td>
        <td>{{ total_stairs }}</td>
    </tr>
    <tr>
        <td>Average daily climb (all days since first climb)</td>
        <td>{{ average_climb }} m/day</td>
    </tr>
    <tr>
        <td>Average daily climb (active days)</td>
        <td>{{ average_active_climb }} m/day</td>
    </tr>
    <tr>
        <td>First climb</td>
        <td>{{ first_climbed }}</td>
    </tr>
    <tr>
        <td>Everest climbed (times)</td>
        <td>{{ highest_mountain_climbed }}</td>
    </tr>
</table>
{% endblock %}
